
<head>
    <style>

        .ftco-navbar-light {
            display: none;
        }

        .ftco-footer {
            display: none;
        }

        .grass-footer {
            display: none;
        }

        .btn-download {
            width: fit-content;
            margin: auto;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="column">
            <div class="row d-flex justify-content-center mb-5">
                <div class="col-md-10 text-center heading-section ftco-animate">
                    <h1>404: Oops! Your in the wrong garden area</h1>
                    <h2>Try navigating from the Home Page</h2>
                    <div class=" btn-download ">
                        <a href="/Home/Index"><b>Take me home</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

