<div>
    <div class="grass-footer " style="background-image: url('/images/grass.jpg');height: 150px;">
    </div>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="logo"><a href="/">Our Plants <span>Our Planet</span></a></h2>
                        <p>We are committed towards delivering sustainable solutions that positively impact our people and our planet</p>

                    </div>
                </div>
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Weed Management</h2>

                        <ul class="list-unstyled">
                            <li><a href="/weedIdentifier" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Weed Identifier</a></li>
                            <li><a href="/weedEncyclopedia/#a" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Weed Encyclopedia</a></li>
                            <li><a href="/weedControl" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Weed Control</a></li>
                            <li><a href="/weedPrevention" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Weed Prevention</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget mb-4 ml-md-5" ">
                        <h2 class="ftco-heading-2">Garden Care</h2>
                        <ul class="list-unstyled">
                            <li><a href="/searchPlants" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Garden Planner</a></li>
                            <li><a href="/gardenCare/" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Garden Calendar</a></li>
                            <li><a href="/gardens" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Community Gardens</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget mb-4 ml-md-5" ">
                        <h2 class="ftco-heading-2">Our Tools</h2>
                        <div class="opening-hours">

                            <ul class="list-unstyled">
                                <li><a href="/mulchCal" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Mulch Calculator</a></li>
                                <li><a href="/compostCal" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Compost Calculator</a></li>
                                <li><a href="/stores" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Store Locator</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>

                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved |<a href="https://www.ourplantsourplanet.vision"> OurPlantsOurPlanet</a>

                    </p>
                </div>
            </div>
        </div>
    </footer>

</div>
<div class="page-scroll" title="Scroll To Top" onclick="topFunction()">
    <i class="arrow-up"></i>
    </div>

    <!-- loader -->

    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.easing.1.3.js"></script>
    <script src="/javascripts/jquery.waypoints.min.js"></script>
    <script src="/javascripts/jquery.stellar.min.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/scrollax.min.js"></script>

    <script src="/javascripts/google-map.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>

    <script src="/javascripts/page-scroll.js"></script>

    <script src="/javascripts/page-scroll.js"></script>
    <script src="/javascripts/NavBar-active.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>


    </body>
    </html>
