<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 pb-5 text-center">
                <h1 class="mb-3 bread">Weed Identifier</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Weed Identifier <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h1 class="mb-4">Search Weed</h1>
                                <form method="POST" id="contactForm" name="contactForm" class="contactForm" style="text-align:center">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group" style="text-align:left">
                                                <label class="label" for="subject">Weed Name</label>
                                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Weed Name">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" style="text-align:left">
                                                <label class="label" for="name">Appearance</label>
                                                <select name="appearance" id="name" class="form-control">
                                                    <option value="Any">Any</option>
                                                    <option value="Shrub">Shrub</option>
                                                    <option value="Succulent">Succulent</option>
                                                    <option value="Tree">Tree</option>
                                                    <option value="Grass">Grass</option>
                                                    <option value="Vine">Vine</option>
                                                    <option value="Aquatic">Aquatic</option>
                                                    <option value="Herb">Herb</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" style="text-align:left">
                                                <label class="label" for="email">Flower Color</label>
                                                <select class="form-control" name="email" id="email">
                                                    <option value="Any">Any</option>
                                                    <option value="White">White</option>
                                                    <option value="Red">Red</option>
                                                    <option value="Green">Green</option>
                                                    <option value="No Colour">No Colour</option>
                                                    <option value="Pink">Pink</option>
                                                    <option value="Purple">Purple</option>
                                                    <option value="Blue">Blue</option>
                                                    <option value="Cream">Cream</option>
                                                    <option value="Brown">Brown</option>
                                                    <option value="Orange">Orange</option>
                                                    <option value="Grey">Grey</option>
                                                    <option value="Inconspicuous">Inconspicuous</option>
                                                    <option value="Black">Black</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" style="text-align:left">
                                                <label class="label" for="postcode">Postcode</label>
                                                <input type="text" class="form-control" name="postcode" id="postcode" pattern="[0-9]{4}" placeholder="Any" maxlength="4">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" style="text-align:left">
                                                <input type="submit" value="Search" class="btn btn-primary" style="font-size:medium">
                                                <input type="reset" value="Clear" class="btn" style="font-size:medium">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>